<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<meta charset="utf-8">
	<title>Iniciando</title>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="shortcut icon" type="image/png" href="http://alaoq.com.br/imagem/NaoApagar/Logo_sem_fundo.ico"/>
    <meta http-equiv="refresh" content="5">
    <meta charset="UTF-8">
    <style>
        table, td, tfoot {border:solid 1px #000; padding:5px; border-color: white;}
        caption {font-size:x-large; }
        colgroup {background:#F60;}
        .texto_branco {
            color: white;
        }
        .coluna1 {background:#F66;}
        .coluna2  {background:#F33;}
        .coluna3  {background:#F99;}
    
    </style>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
	<div style="position: absolute; left: 42%; top: 20%;">
		<center>
		<img src = "http://alaoq.com.br/imagem/NaoApagar/load2.gif"/>
		<p>Carregando Sistema...</p>
		</center>
	</div>
</body>
</html>