{% extends 'base3p.html' %}

{% block title %}Editar{% endblock %}

{% block content %}
    <center><p><b>Estoques</b></p></center>
    <form action="/pedidos/Estoque/" method="post">
        {% csrf_token %}
        <div>
            <div>
                <input class="form-control" type="text" name="sku1" placeholder="SKUs" autocomplete="off"/>
                <center>
                <button class="btn btn-success" type="submit" name="Salvar" value="{{sku.n_pedido}}" nclick="return confirm('Deseja salvar as alterações deste pedido?')">Salvar</button></center>
                </center>
            </div>
            
            <p>Digite um ou mais SKUs separado por ',' ou espaço!</p>
        </div>
    </form>
    <div class="container alert-secondary" >        
        <center>
        {% for sku in lista_skus %}
            <div class="container separador" style="padding-bottom: 20px; padding-top:30px;">
                <div class="col-sm" style='display:flex'>
                    <p>{{sku.Sku}}</p>
                    <p class="col-sm">{{sku.Titulo}}</p>
                </div>
                <div class="row"> 
                    <div class="col-sm">
                        <p>Estoque Arrigo: {{sku.Estoque_Arrigo}}</p>
                    </div>
                    <div class="col-sm">
                        <p>Estoque Koala: {{sku.Estoque_Koala}}</p>
                    </div>
                    <div class="col-sm">
                        <p>Estoque Total: {{sku.Estoque_total}}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
        </center>
    </div>
{% endblock %}