body{
  background-color: #f5eee1;
}
.container1{
  height: 100vh;
}

.separador {
    width: 100%; /* coloque aqui a largura da linha */
    border-bottom: 1px solid #000;
    list-style-type: none;
}

.separadordebaixo {
    width: 75%; /* coloque aqui a largura da linha */
    border-top: 1px solid #000;
    list-style-type: none;
}

.separadordiv {
    width: 100%; /* coloque aqui a largura da linha */
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
    list-style-type: none;
}

.break {
  flex-basis: 100%;
  height: 0;
}

div.container5 {
  height: 10em;
  display: flex;
  align-items: center }
div.container5 p {
  margin: 0 }


img {
  -webkit-transition: all 1s ease; /* Safari and Chrome */
  -moz-transition: all 1s ease; /* Firefox */
  -ms-transition: all 1s ease; /* IE 9 */
  -o-transition: all 1s ease; /* Opera */
  transition: all 1s ease;
  border-radius: 10px;
}

img:hover {
  -webkit-transform:scale(4.25); /* Safari and Chrome */
  -moz-transform:scale(4.25); /* Firefox */
  -ms-transform:scale(4.25); /* IE 9 */
  -o-transform:scale(4.25); /* Opera */
  transform:scale(4.25);
}

input[type="checkbox"]:checked .mudarcor{
  background-color: green;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
}

