.separador {
  width: 100%; /* coloque aqui a largura da linha */
  border-bottom: 1px solid #000;
  list-style-type: none;
}

.separadordebaixo {
  width: 75%; /* coloque aqui a largura da linha */
  border-top: 1px solid #000;
  list-style-type: none;
}

.separadordiv {
  width: 100%; /* coloque aqui a largura da linha */
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
  list-style-type: none;
}