{% extends 'base_precos.html' %}

{% block title %}Loja{% endblock %}

{% block content %}
    <div class='principal'>
        <center><p><b>Produtos Conferidos!</b></p></center>
        <table>
            <tr>
                <th >SKU</th>
                <th >Titulo</th>
                <th >Estoque Loja</th>
                <th >Preço de venda site</th>
                <th >Data de alteração</th>
                <th >Imagem</th>
            </tr>
            {% for sku in lista_skus %}
                <tr>
                <td >{{sku.Pro_Sku}}</td>
                <td >{{sku.Pro_Nome}}</td>
                <td >{{sku.Pro_Loja}}</td>
                <td >{{sku.Pro_PrecoVenda}}</td>
                <td >{{sku.updated_at}}</td>
                <td ><img src= {{sku.link}} width="75" height="75"></td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}